---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        立人一丁
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <!-- <div>
    <h2><strong>介绍</strong></h2>
    <p class="mb-5">
      Hello!  这里是一个在 2024 年初诞生的 <strong>blog</strong>，万事开头难，我先开个头🌚。
    </p>
  </div> -->
</section>
